.home {
  height: 100vh;
  background: url(../img/bolt.jpg) no-repeat top center;
  background-size: cover !important;
  overflow: hidden;
  min-height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
}

.home__introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 50%;
  min-width: 600px;
  height: 500px;
}

.home__introduction > a {
  height: 40px;
}

.social__media {
  display: flex;
  min-width: 350px;
  justify-content: space-between;
  color: white;
}
.social__media > a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.arrow {
  cursor: pointer;
  color: white;
}

.arrow:hover,
.arrow:focus-within {
  color: #36bec3;
}

.arrow > a {
  transition: 0.3s;
}

.social__media a:hover,
.social__media a:focus {
  color: #36bec3;
  animation: shake 0.1s 2;
}

.circle {
  position: relative;
  border: 2px solid white;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  overflow: hidden;
  transition: border-color 0.3s;
}

.circle:hover {
  border-color: #36bec3;
}

.bird {
  position: absolute;
  top: 0;
  left: 0;
  animation-name: drop;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1.2s;
}

.two {
  top: 12px;
}

.third {
  top: -12px;
}

@media (max-width: 700px) {
  .home {
    background: url(../img/bolt.jpg) no-repeat 84%;
  }
  .home__introduction {
    min-width: 0;
    width: 100%;
    opacity: 1;
    transition: 0.2s;
  }
  .social__media {
    min-width: 0;
    max-width: 350px;
    width: 70%;
  }
  .home__introduction--disable {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(-14deg);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(40px);
  }
}
