.logo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  height: 200px;
  padding: 10px;
}

.logo__top {
  margin-bottom: 10px;
}

.logo__bottom {
  display: flex;
  justify-content: center;
}

#subLogoText {
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw-text 1.8s 1.2s ease-in-out forwards;
}

.simple__header {
  display: none;
}

@keyframes draw-text {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 700px) {
  .logo__top,
  .logo__bottom {
    display: none;
  }
  .simple__header {
    display: block;
    text-align: center;
  }

  .simple__header > h1 {
    font-size: 2.7rem;
  }
  .logo__container {
    margin-bottom: 30px;
  }
}
