.nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.nav--color {
  background-color: hsl(30, 6%, 23%);
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 700px;
  height: 80px;
  width: 100%;
  padding: 0 24px;
  font-size: 1rem;
  z-index: 10;
  top: -80px;
  opacity: 0;
  transition: 0.5s;
}

.visible {
  top: 0px;
  opacity: 1;
}
.nav__container > a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
/*ÅADNY HOVER ZROBIC*/
a:hover {
  color: #36bec3;
}
.nav__container > .active {
  color: #36bec3;
}

@media (max-width: 700px) {
  .nav__container,
  .nav {
    display: none;
  }
}
